.headerStyle {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: linear-gradient(107.56deg, #306099 0%, #58B368 100%);
}

.headerLogo {
  display: flex;
  align-items: center;
  width: 30px;
  max-height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
}

.headerText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: linear-gradient(107.56deg, #306099 0%, #58B368 100%);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
